# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production
client/.env
server/.env
mock

# Build outputs
dist/
build/
coverage/

# Logs
logs/
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
